.overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba(14, 13, 13, 0.61);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay .modal {
  border-radius: 5px;
  background-color: ivory;
  color: #002147;
  font-size: 20px;
  font-weight: bold;
  padding: 50px;
  display: flex;
  flex-direction: column;
  min-height: 150px;
  justify-content: space-around;
  text-align: center;
}

.button {
  border-radius: 4px;
  background-color: #FDC800;
  color: #002147;
  border: none;
  font-size: 16px;
  font-weight: 18px;
  padding: 5px 25px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}