.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
}

.button {
 margin: 30px auto;
 width: 30%;
 height: 50px;
 border: none;
 border-radius: 3px;
 background-color: #fdc800;
 font-size: 15px;
 color: #002147;
 cursor: pointer;
}

.errorMessage{
 margin: 10px auto;
 font-size: 15px;
 color: #002147;
}