.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle {
  font-size: 30px;
 }

 .tableData {
   width: 60%;
   border: 1px #909090 solid;
   border-radius: 5px;
   padding: 5px;
   text-align: center;
 }

.tableHeader {
  font-size: 20px;
  border-bottom: 1px #909090 solid;
}

.trStyles{
  padding-top: 5px;
  padding-bottom: 5px;
}

.tdStyles{
  color: #276678;
  font-size: 16px;
}

.errorMessage{
  margin: 10px auto;
  font-size: 15px;
  color: #276678;
 }

 .loading{
  margin: 15px;
  padding: 8px;
  font-size: 20px;
  color: #2e2c2c;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  }

 .title {
  font-weight: bolder;
  font-size: 25px;
  color: #276678;
  margin: 30px;
}

.buttonContainer{
  display: flex;
  justify-content: center;
  margin: 20px;
}