.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.table {
  margin-top: 20px;
}

.thead {
  background-color: #002147;
}

.thead th {
  color: #F0F4F9;
  font-size: 21px;
  padding: 5px 40px;
}

.tableRow {
  text-align: center;
  border-bottom: 1px solid #BDBDBD;
  padding: 5px 40px;
}

.button {
  border-radius: 4px;
  background-color: #FDC800;
  color: #002147;
  border: none;
  font-weight: 18px;
  font-size: 16px;
  padding: 5px 35px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.row {
  display: flex;
  flex-direction: row;
}
