.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table {
  margin: 20px;
}

.thead {
  background-color: #002147;
}

.thead th {
  color: #F0F4F9;
  font-size: 21px;
  padding: 5px 40px;
}

.tableRow {
  text-align: center;
  border-bottom: 1px solid #BDBDBD;
  padding: 5px 40px;
}

.row {
  display: flex;
  flex-direction: row;
}

.loading{
  margin: 15px;
  padding: 8px;
  font-size: 20px;
  color: #2e2c2c;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
}
.title {
  font-weight: bolder;
  font-size: 25px;
  color: #002147;
}
