.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #002147;
  font-size: 16px;
  padding: 5px 10px;
}

thead {
  background-color: #002147;
}

th {
  color: #F0F4F9;
  font-size: 21px;
  padding: 5px 40px;
}

td {
  text-align: center;
  border-bottom: 1px solid #BDBDBD;
}

button {
  border-radius: 4px;
  background-color: #FDC800;
  color: #002147;
  border: none;
  font-weight: 16px;
  padding: 5px 15px;
  font-weight: bold;
}
.row {
  display: flex;
  flex-direction: row;
}