.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.table {
  background-color: #F0F4F9;
  padding: 10px;
  margin: 25px 10px 30px 10px;
  border-radius: 2px;
}
thead tr {
  padding: 30px;
}
thead td {
  text-align: center;
  font-weight: bolder;
  color: #002147;
  padding: 10px;
}
td {
  text-align: center;
  color: #002147;
}
tbody tr{
  cursor: pointer;
}
button {
  width: 200px;
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 2px;
  background-color: #fdc800;
  font-size: 15px;
  color: #002147;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background-color: #ffd027;
}