.container{
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: rgba(247, 233, 233, 0.5);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 500px;
  height: 200px;
  background-color: whitesmoke;
}
.button {
  margin: 20px;
  height: 56px;
  border: none;
  padding: 0 20px;
  background: #FDC800;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.cancel {
  background-color: gray;
}