.trStyles{
  padding: 20px 8px;
  font-size: 16px;
  border-bottom: 1px #d3d3d3 solid;
  height: 58px;
}

.thStyles{
  padding: 8px;
  font-size: 18px;
  font-weight: 500;
  color: #276678;
  vertical-align: middle;
}