.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  font-weight: bolder;
  font-size: 25px;
  color: #002147;
  margin: 30px;
}
.topContainer{
  display: flex;
  margin: 20px 0;
}
.bottomContainer{
  display: flex;

  margin-bottom: 16px;
}
.widgetTitle{
  margin-left: 16px;
  font-size: 18px;
  font-weight: 600;
}