.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 20%;
}
.container h2 {
  font-size: 30px;
  margin: 15px 10px 0 0;
 }

 .container h3 {
  font-size: 16px;
  margin: 20px 5px 0 0;
 }
 
 .container input,
 .container select {
  display: flex;
  height: 30px;
  width: 40%;
  border-radius: 3px;
  margin: 5px 0 0 0;
  border: 2px #002147 solid;
  border-color: #002147;
  color: #002147;
 }

 .container textarea {
  display: flex;
  height: 60px;
  width: 40%;
  border-radius: 3px;
  margin: 5px 0 0 0;
  border: 2px #002147 solid;
  border-color: #002147;
  color: #002147;
  resize: none;
  font-family: 'Open Sans', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
 }
 
 .container button {
  margin: 30px auto;
  width: 30%;
  height: 50px;
  border: none;
  border-radius: 3px;
  background-color: #fdc800;
  font-size: 15px;
  color: #002147;
 } 

 button:hover {
  cursor: pointer;
  background-color: #ffd027;
}

.showError{
  margin: 15px;
  color: #8f0000;
 } 