.container{
 position: absolute;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100%;
 width: 100%;
 background-color: rgba(0,0,0,0.5);
}

.window {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 height: 30%;
 width: 30%;
 background-color: #ffffff;
}

.buttonContainer{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 width: 30%;
}

.modalButton{
 padding: 8px;
 border: none;
 border-radius: 3px;
 background-color: #fdc800;
 font-size: 15px;
 color: #002147;
 cursor: pointer;
}