.container{
  display: flex;
  padding: 12px 2px;
  align-items: center;
}
.label{
  font-size: 18px;
  font-weight: 600;
  color: #276678;
}
.checkbox{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-right: 8px;
  appearance: none;
  width: 24px;
  height: 24px;
  background-color: #d5d5d5;
  border-radius: 5px;
  border: #276678 solid 2px;
  cursor: pointer;
}
.checkbox:after{
  content:"✔";
  font-weight: 600;
  font-size: 18px;
  color: white;
  display: none;
}
.checkbox:hover{
  background-color: #a5a5a5;
}
.checkbox:checked{
  background-color: #C06014;
  border-color: #C06014;
}
.checkbox:checked:after{
  display: block;
}