.container {
  margin: 10px 0 0 0;
}

.inputContent {
  display: flex;
  align-items: center;
  width: 370px;
  padding: 12px;
  margin: 10px 0 0 0;
  border-radius: 3px;
  margin: 5px 0 0 0;
  border: 2px #276678 solid;
  border-color: #276678;
  color: #276678;
}

.labelTitle {
  color: #276678;
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
}

.inputError {
  border-color: #F00;
}

.messageError {
  display: flex;
  align-items: center;
  height: 21px;
  font-size: 14px;
  color: #F00;
}