.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formContainer {
  padding: 24px;
  margin-bottom: 20px;
  border: 1px solid #353535;
  border-radius: 5px;
}
.title{
  margin: 16px;
  color: #353535;
}